*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
}
 

.cart-button{
    border: 0px;
    background-color: transparent;
    font-size: 1.3rem;
    padding: 1.2rem;
}